{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": 10,
          "chrome": "49",
          "ios": "10",
          "node": "current"
        }
      }
    ]
  ]
}
