/*
  * 主题变量
*/

$themeColor: #006fc4; // 主题色
$colorPrimary: var(--colorPrimary); // 主题色
$colorBgBase: var(--colorBgBase); // 背景色梯度的基础变量
$colorTextBase: var(--colorTextBase); // 文本色梯度的基础变量
$colorBgLayout: var(--colorBgLayout); // 页面布局色
$colorBorder: var(--colorBorder); // 边框颜色
$colorSplit: var(--colorSplit); // 分割线
$colorPrimaryBg: var(
  --colorPrimaryBg
); // 主色浅色背景颜色，一般用于视觉层级较弱的选中状态。
