@import '@/styles/media.scss';

$maxWidth: 1378px; //app最大宽度
$mainWidth: 1378px; //内容宽度
@mixin appLayoutWrap($numRow: 100%) {
  width: 100%;
  max-width: $maxWidth;
  margin: auto;
  // 页面
  @media screen and (max-width: ($maxWidth+20px)) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@mixin pageWrap($numRow: 100%) {
  max-width: $mainWidth;
  margin: 0 auto;
}

// 布局结构
.app-main {
  @include appLayoutWrap();
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $xl) {
    padding: 30px 14px;
  }
  @media screen and (max-width: $min) {
    padding: 15px 8px;
  }
  & > div {
    @include pageWrap();
  }
}

// 页面外套
.pageWrap {
  @include pageWrap();
}
